body{
    /* text-align: center; */
   /* test */

}

form{
    text-align: center;
     position: absolute;
  top: 50vh; /* 50% of the viewport height */
  left: 50%;
  transform: translate(-50%, -50%);
}